@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
}

body {
	font-size: 10px;
	font-family: "Montserrat", sans-serif;
}

.container {
	margin: 0 auto;
	position: relative;
	width: 960px;
}

.hero {
	background-image: url("../img/capa-madmax2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 90vh;
	
	position: relative;
	padding: 20px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hero:after {
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.6) 0%,
		rgba(0, 212, 255, 0) 75%
	);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}


.hero-menu {
	display: flex;
	z-index: 2;
}

.hero-menu .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

.hero-logo {
	display: inline-block;
}

.hero-lista {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.hero-lista-item {
	margin: 0 25px;
}

.hero-lista-item a,
.catalogo-menu-lista-item a {
	color: white;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}

.hero-lista-item a:hover {
	color: #e4bb23;
}

.hero-usuario {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.hero-usuario-foto {
	border-radius: 100%;
	height: 45px;
	width: 45px;
	overflow: hidden;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	margin-right: 15px;
}

.hero-usuario-nome {
	color: white;
	font-weight: bold;
	font-size: 1.3em;
}

.hero-usuario-foto img{
	width: 100%;
	height: auto;
}

.hero-conteudo {
	width: 100%;
}

.hero-conteudo .container {
	z-index: 2;
	position: relative;
}

.hero-titulo {
	color: white;
	font-size: 6.5em;
	font-weight: bold;
	line-height: 1.2em;
	text-transform: uppercase;
	margin: 0;
}

.hero-genero {
	display: flex;
	font-size: 13px;
	margin: 15px 0 30px;

}

.hero-genero-item {
	display: flex;
	margin-right: 15px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
	color: white;
}

.hero-genero-item:hover {
    color: #e4bb23;
}

.hero-botao {
	display: inline-block;
    padding: 15px 50px;
    color: #000;
    font-size: 1.5em;
    text-decoration: none;
    background-color: #e4bb23;
    border-radius: 40px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.hero-botao:hover {
	background-color: #bc9a1d;
}

.hero-botao i {
	font-size: 1.5em;
    position: absolute;
    right: 15px;
    top: 12px;
}

.hero-informacao {
	padding: 20px 0;
    font-size: 1.4em;
	color: #fff;
}

.hero-informacao p:last-child {
	color: #bc9a1d;
}

.catalogo {
	width: 100%;
	background-color: #f2f2f2;
}

.catalogo-menu {
	width: 100%;
}

.catalogo-menu-lista {
	list-style: none;
	margin: 0 auto;
	padding: 0 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	display: flex;
	align-items: center;
	justify-content: center;
}

.catalogo-menu-lista-item {
	margin: 0 20px;
}

.catalogo-menu-lista-item a {
	color: #e4bb23;
	display: inline-block;
	padding: 25px 0;
}

.catalogo-menu-lista-item a:hover {
	box-shadow: inset 0 -1px 0 #e4bb23;
}

.catalogo-filmes-lista {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	padding: 20px 0;

}

.catalogo-filmes-lista-item {
	width: 24%;
	background-color: white;
	overflow: hidden;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.filme-poster {
	width: 100%;
	height: auto;
	margin: 0;
	overflow: hidden;
	position: relative;
}
.filme-poster img {
	width: 100%;
	height: auto;
}

.filme-poster-info {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	opacity: 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1;
	visibility: hidden;
	transition: all 0.2s ease-in-out;
	padding: 80px 20px;
}

.catalogo-filmes-lista-item:hover .filme-poster-info {
	opacity: 1;
	visibility: visible;
}

.filme-poster-info h3 {
    color: #e4bb23;
    font-size: 2em;
    line-height: 1em;
    text-transform: uppercase;
}

.filme-poster-link {
    color: #fff;
    font-size: 5em;
    transition: all 0.2s ease-in-out;
}

.filme-poster-link:hover {
    color: #e4bb23;
    
}

.filme-sinopse {
	width: 100%;
	padding: 10px;
}

.filme-sinopse-titulo {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.sinopse-genero {
    margin: 10px 0;
    display: flex;
}

.sinopse-genero-item {
    text-decoration: none;
    font-size: 1.2em;
    color: #e4bb23;
}

.sinopse-genero-item:hover {
    text-decoration: underline;
}

.filme-nota {
    margin: 0;
    align-items: center;
    display: flex;
    font-size: 2em;
    font-weight: bold;
    justify-content: space-between;
}

.filme-nota i {
    color: #ccc;
    cursor: pointer;
}

.filme-nota i:hover {
    color: #e74c3c;
}

.rodape {
	background-color: white;
	width: 100%;
	padding: 20px 0;
	color: #bababa;
}

.rodape .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.rodape-lista {
	padding: 0;
	list-style: none;
	display: flex;
}

.rodape-lista-item {
	margin:0 20px;
}

.rodape-lista-item:last-child {
	margin-right: 0;
}

.rodape-lista-item a {
    font-size: 2.5em;
    color: #bababa;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.icone-twitter a:hover {
	color: #55acee;
}

.icone-facebook a:hover {
	color: #3b5998;
}

.icone-instagram a:hover {
	color: #e95950;
}
